@use "@angular/material" as mat;

@include mat.core();

$a-brand: (
  50: #e7ece8,
  100: #c2d0c5,
  200: #9ab19f,
  300: #719179,
  400: #527a5c,
  500: #34623f,
  600: #2f5a39,
  700: #275031,
  800: #214629,
  900: #15341b,
  A100: #74ff8e,
  A200: #41ff65,
  A400: #0eff3b,
  A700: #00f42d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
/* For use in src/lib/core/theming/_palette.scss */
$a-accent: (
  50: #f6f3ea,
  100: #e8e1ca,
  200: #d9cea6,
  300: #caba82,
  400: #beab68,
  500: #b39c4d,
  600: #ac9446,
  700: #a38a3d,
  800: #9a8034,
  900: #8b6e25,
  A100: #ffefca,
  A200: #ffe097,
  A400: #ffd164,
  A700: #ffca4b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$primary: mat.define-palette($a-brand);
$accent: mat.define-palette($a-accent);

$theme: mat.define-light-theme(
  (
    (
      color: (
        primary: $primary,
        accent: $accent,
      ),
    )
  )
);
@include mat.all-component-themes($theme);
