.movie-card{
    @apply flex flex-1 flex-col items-center p-10 bg-secondaryAccent;
}
.title{
    @apply text-primary border-b-4 border-primary text-4xl font-bold;
    width: fit-content;
    margin-bottom: 15px;
}
.nav-title{
    @apply text-primaryLight text-3xl font-bold text-center;
}
.sideNav-container{
    overflow-y: scroll;
    position: relative;
    min-height: 100vh;
    width: 30vw;
    min-width: 300px;
    max-width: 515px;
}
.sideNav{
    @apply bg-primary flex flex-col items-center p-2;
    position: absolute;
}
.sideNav *{
    opacity: 0;
}
.movie-img-container{
    @apply flex flex-col items-center;
}
.movie-overview{
    max-width: 45em;
    text-align: center;
    font-size: 30px;
}

@media screen and (max-width: 600px){
    .movie-details-page{
        flex-direction: column-reverse;
    }
    .sideNav-container{
        width: auto;
        display: flex;
        overflow-y: visible;
    }
    .sideNav{
        position: relative;
        display: flex;
        width: 100vw;
    }
    .sidenav-movie-img{
        padding: 30px;
    }
}
@media screen and (min-width: 1500px){
    .movie-card{
        flex-direction: row;
        justify-content: space-around;
    }
    .movie-overview{
        max-width: 40vw;
        font-size: 36px;
        line-height: 40px;
    }
    .title{
        font-size: 40px;
        margin-bottom: 25px;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideIn {
    from {
        transform: translateX(-200px);
    }
    to {
        transform: translateX(0);
    }
}
  
  .sideNav * {
    opacity: 0;
    transform: translateX(-200px);
    animation: none; 
    padding: 10px;
  }
  
  .sideNav.nav-animation * {
    animation: fadeIn 2s forwards, slideIn 1s forwards; 
    animation-delay: calc(var(--animation-delay)*.2);
  }