<div class="flex justify-center">
    <div class="sideNav">
        <h1 class="nav-title">Other Movies you might like</h1>

        <div *ngFor="let movie of similarMovies">
            <img class=" w-56 " [src]="posterUrl + movie.poster_path">
        </div>
    </div>

    <div *ngIf="movie" class="movie-card">   
        <img class=" w-56 " [src]="posterUrl + movie.poster_path">
        <h1 class="title">{{movie.title}}</h1>
        <div class="">
    
        </div>
    
    </div>

</div>


