<app-navbar></app-navbar>
<form class="searchContainer bg-lightBlack sticky">
  <input class="search" type="text" placeholder="Search..." />
</form>

    <div class="flex justify-evenly gap-x-4 gap-y-6 flex-wrap bg-lightBlack pb-8">
    <mat-card *ngFor="let movie of movies" [routerLink]="'/details/' + movie.id">
      <mat-card-content class="bg-primary h-full rounded-lg">
        <img [src]="posterUrl + movie.poster_path" class="rounded-t-lg">
        <section class="bg-primaryLight/50 rounded-b-lg p-2">
          <p class="text-xs w-full text-wrap">
            {{movie.title}}
          </p>
        </section>
      </mat-card-content>
    </mat-card>
    </div>