.dot {
  /* this is for the seperator dots */
  border-radius: 50%;
  @apply bg-secondaryAccent inline-block w-1 h-1;
}
.moviesContainer {
  @apply bg-lightBlack container mx-auto px-4 flex flex-col items-center pt-20 pb-14 gap-8 md:flex-row md:flex-wrap md:justify-around;
}
mat-card {
  @apply w-4/5 md:w-1/6 rounded-2xl ; 
}
app-popular-movies {
  @apply bg-lightBlack;
}
button {
  @apply p-0 border-0;
}
.litleDetails {
  flex: 1 1 auto;
  @apply bg-primaryLight/35 rounded-b-lg p-2 text-secondaryAccent md:text-xs;
}
mat-card-content {
  @apply bg-primary h-full rounded-lg hover:scale-101 duration-300 
  hover:cursor-pointer hover:shadow-md hover:shadow-secondary hover:border-double hover:border-secondary
  sm:hover:scale-102 sm:duration-300 md:duration-200 lg:hover:scale-105;
}
img {
  @apply w-full rounded-t-lg
}
.movieInfo {
  @apply hidden h-1/3 lg:text-xs lg:flex lg:items-center justify-evenly;
}
