<div class="flex flex-col justify-between gap-16 bg-lightBlack">
  <app-navbar></app-navbar>
  <app-search></app-search>
</div>
<div class="moviesContainer">
  <mat-card *ngFor="let movie of movies" [routerLink]="'/details/' + movie.id">
    <mat-card-content>
      <img [src]="posterUrl + movie.poster_path" class="rounded-t-lg h-3/4 xl:h-[85%]" />

      <section>
        <span class="text-wrap">
          {{ movie.title }}
        </span>
        <div class="movieInfo">
          <button
            mat-stroked-button
            matTooltip="Release Date"
            matTooltipPosition="below"
            style="color: #eae2b7"
          >
            {{ movie.release_date }}
          </button>
          <span class="dot"></span>
          <button
            mat-stroked-button
            matTooltip="Score"
            matTooltipPosition="below"
            style="color: #eae2b7"
          >
            {{ movie.vote_average }} <mat-icon fontIcon="star"></mat-icon>
          </button>
        </div>
      </section>
    </mat-card-content>
  </mat-card>
</div>
