h1 {
    font-size: 3rem;
    padding-right: 50px;
    border-bottom: 3px solid black;
}

.cardContent {
    padding-top: 25px;
    padding-bottom: 25px;
}

.cardContent form{
    height: 100%;;
}

.loginForm input{
   border-radius: 5px;
    padding: 15px 16px;
}