<div class="review-section">

    <!-- star ratings -->
    <div>
        <h1 class="rating-title">Rate this movie</h1>
        
        <div class="flex justify-center">
            <div 
            *ngFor="let i of [1,2,3,4,5]"
            class="star-ratings"
            [ngClass]="rating === null?'gray':''"
            >
                <mat-icon 
                [fontIcon]=" rating >= i?'star':'star_outline'" 
                class="star-icon" 
                (click)="rateMovie(i)">
        
                </mat-icon>
            </div>
        </div>
    </div>  


    <mat-form-field>
        <mat-label>Leave a comment</mat-label>
        <textarea 
        [(ngModel)]="comment"
        matInput mat-autosize></textarea>
    </mat-form-field>

    
</div>
