#loginCard {
    height: 80vh;
    width: 50vw;
    border-radius: 10px;
}

.cardHeader {
    height: 20%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    align-items: center;
    position: relative;
}

h1 {
    font-size: 3rem;
    padding-right: 50px;
    border-bottom: 3px solid;
}

.logoSpan {
    text-shadow: 1px 1px 1px #EAE2B7;
    @apply text-secondary font-extrabold skew-x-3 -skew-y-6 text-5xl;
    -webkit-text-stroke-width: .15px;
    -webkit-text-stroke-color: #EAE2B7;
    position: absolute;
    right: 10%;
    top: 50%;
}

.cardContent {
    height: 40%;
    width: 100%;
    padding: 2.5rem 1.75rem;
}

.loginForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
}

.loginForm input {
    border-radius: 5px;
    padding: 15px 16px;
    background-color: #1E2F23;
    color: white;
}

.cardActions {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem 1.75rem 1.5rem 1.75rem;
}

.cardActions button {
    height: 3.5rem;
    font-size: 1.2rem;
    width: 100%;
    margin: 0 1.5rem;
    border-radius: 30px;
}

#horizontalLine {
    margin: 2rem .5rem;
    border: 1px solid;
    width: 100%;
}