<mat-card id="loginCard" >
  <mat-card-header class="cardHeader bg-primary">
    <h1>Login</h1>
  </mat-card-header>
  <mat-card-content class="cardContent w-full bg-primary">
    <form action="submit" class="loginForm flex flex-col justify-around">
      <input type="text" name="email" placeholder="Email" />
      <input type="text" name="password" placeholder="Password" />
    </form>
  </mat-card-content>
  <mat-card-actions class="cardActions bg-primary">
    <button mat-raised-button color="accent" >Login</button>
    <div class="flex w-full items-center"> <div id="horizontalLine"></div>or<div id="horizontalLine"></div></div>
    <button mat-raised-button color="primary">Login with google</button>
  </mat-card-actions>
</mat-card>
