<mat-card id="loginCard">
    <mat-card-header class="cardHeader">
  <h1>Login</h1>
</mat-card-header>
<mat-card-content class="cardContent w-full ">
  <form action="submit" class="loginForm flex flex-col justify-around">
    <input type="text" name="username" placeholder="Username" />
    <input type="text" name="password" placeholder="Password" />
  </form>
</mat-card-content>
<mat-card-actions class="cardActions"> 
  <button mat-raised-button color="primary">signup with google</button>
</mat-card-actions>
</mat-card>

