<app-navbar></app-navbar>

<div id="watchlistPage" class="bg-lightBlack">
    <mat-tab-group id="tabGroup" color="accent">
        <mat-tab label="WatchList">
            <mat-card class="mainCard" *ngIf="watchlistArray.length !== 0">
                <mat-card-content class="mainCardContent">
                    <div class="movieCard w-[50%] md:w-[20%]"
                        *ngFor="let movie of watchlistArray"
                        [routerLink]="'/details/' + movie.movieId">
                        <img [src]="posterUrl + movie.poster_path" />
                    </div>
                </mat-card-content>
            </mat-card>
            <div class="noFilmsMsg" *ngIf="watchlistArray.length === 0">
                <p>Looks like theres nothing in your watchlist</p>
            </div>
        </mat-tab>
        <mat-tab label="Watched Films">
            <mat-card class="mainCard" *ngIf="watchedArray.length !== 0">
                <mat-card-content class="mainCardContent">
                    <div class="movieCard w-[50%] md:w-[20%]"
                        *ngFor="let movie of watchedArray"
                        [routerLink]="'/details/' + movie.movieId">
                        <img [src]="posterUrl + movie.poster_path" />
                    </div>
                </mat-card-content>
            </mat-card>
            <div class="noFilmsMsg" *ngIf="watchedArray.length === 0">
                <p>Looks like you havent watched any films</p>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>